<%- include('../partials/header') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/patients.css" />

<div class="card">
  <form class="showcase">
    <h3 class="header">Patients</h3><br/>
    <div action="/patients" method="GET" class="form-inline">
      <div class="form-inline">
        <a href="/patients/create" class="btn btn-primary">Add</a>
        <input type="text" name="search" placeholder="Search patients" class="form-input">
        <input type="submit" value="Search" class="btn btn-primary">
      </div>
    </div>
    <div class="class">
      <div class="form-check form-switch">
        <input class="form-check-input" name="select" value="fullName" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Name</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" name="select" value="personalNumber" type="checkbox" id="flexSwitchCheckChecked">
        <label class="form-check-label" for="flexSwitchCheckChecked">Personal No.</label>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" name="select" value="city" type="checkbox" id="flexSwitchCheckChecked">
        <label class="form-check-label" for="flexSwitchCheckChecked">City</label>
      </div>
    </div>
    <table class="table table-hover">
      <thead class="titles">
        <tr>
          <th scope="col">Personal No.</th>
          <th scope="col">Name</th>
          <th scope="col">Phone</th>
          <th scope="col">City</th>
          <th scope="col">Doctor</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% patients.forEach(patient => { %>
        <tr>
          <th scope="row"><%= patient.personal_number %></th>
          <td><%= patient.full_name %></td>
          <td><%= patient.phone_number %></td>
          <td><%= patient.city %></td>
          <td><%= patient.doctor ? patient.doctor.full_name : 'N/A' %></td>
          <td>
            <a href="/patients/<%= patient._id %>" class="btn btn-warning">Edit</a>
            <button type="button" onclick="deletePatient(`<%= patient._id %>`)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </form>
</div>
<%- include('../partials/footer') %>